<div class="resumes_body col-md-10 offset-md-2" id="resumes_body">
  <h1>简历编辑</h1>
  <%= render "recruitment/admin/resumes/resume_basic_info" %>
  <hr>
  <%= render "recruitment/admin/resumes/resume_objective" %>
</div>