<% provide(:title, "编辑") %>
<% provide(:button_text, "更新") %>


<div class="admin_edit_job_info">
  <h1>修改招聘信息</h1>
  <%= render partial: "recruitment/admin/jobs/form", locals: {zone: @job, url: recruitment_admin_job_path} %>
</div>