<div class="container" id="job_index">
  <h1>招聘网站demo</h1>
  <%= render "recruitment/common/search" %>

<!--  <div class="dropdown clearfix pull-right">-->
<!--    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true">-->
<!--      排序<span class="caret"></span>-->
<!--    </button>-->
<!--    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">-->
<!--      <li><%#= link_to("薪资上限", recruitment_jobs_url(:order => "by_salary_upper")) %></li>-->
<!--      <li><%#= link_to("薪资下限", recruitment_jobs_url(:order => "by_salary_lower")) %></li>-->
<!--      <li><%#= link_to("最近发布时间", recruitment_jobs_url) %></li>-->
<!--    </ul>-->
<!--  </div>-->

  <%= render 'recruitment/jobs/job_list' %>



</div>