// Place all the styles related to the recruitment::admin::resumes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.user_info li {
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
}

.asterisk{
  color: red;
  margin-right: auto;
  margin-left: auto;
}