/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
//= link ckeditor
@import "font-awesome";


body {
  padding-top:60px;
  //background-image:url("background.jpg") ;
}


.nav-item {
  margin-left: 10px;
  font-size: x-large;
}

.dropdown-toggle {
  margin-left: 10px;
  font-size: x-large;
}

#log_in {
  margin-right: 0;
}

.pagination {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  span {
    margin: 0 10px;
  }
}

#qrcode {
  margin-top: 10%;

  img {
    width: 60%;
  }
}

.footer {
  padding: 5%;
  background-color: white;
}

//文章右侧目录栏
#filter-tags {
  position: sticky;
  top: 10%;
}

#catalog {
  //display: inline-block;
  position: fixed;
  top: 70px;
  right: 0;
  max-height: 80%;
  max-width: 20%;
  background-color: white;
  border-radius: 5px;
  overflow-y: scroll;

  li:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}

//鼠标悬停，出现二维码
a.weixin {
  position: relative;
}

.weixin img.qrcode {
  position: absolute;
  z-index: 99;
  top: -135px;
  right: -28px;
  width: 7.5rem;
  max-width: none;
  height: 7.5rem;
  transform: scale(0);
  transform-origin: top;
  opacity: 0;
  border: .3125rem solid #0085ba;
  border-radius: .25rem;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.weixin:hover img.qrcode {
  transform: scale(1);
  opacity: 1;
}

//分类
.category-item {
  color: cornflowerblue;
  margin-left: 15px;
  margin-right: 5px;
  word-wrap: break-word;

}

.category-item:hover {
  cursor: pointer;
}

.dropdown {
  margin-right: 10px;
}

//右侧导航栏
//#right_info{
//  position: fixed;
//  height: 80%;
//  width: auto;
//  right: 10%;
//  top: 10%;
//}
//右侧目录框
#comments_content {
  border-radius: 5px;
  background-color: white;
}

//右边标签栏
#tag_list {
  margin-top: auto;
  word-wrap: break-word;
}

//标签
.tag_item {
  color: cornflowerblue;
  margin-left: 15px;
  margin-right: 10px;
}

.tag_item:hover {
  cursor: pointer;
}

//关于我中的开发技能栈

.skill {
  background-color: #BABABA;
  //background-color: rgba(63, 63, 63, 0.6);

  border: 1px solid gray;
  border-radius: 5px;
  padding: 2rem 2rem;
  margin: 0 auto;
  //background-color: gray;
  li {
    margin: 10px 0;
  }
}

//鼠标悬停下拉框
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; // remove the gap so it doesn't close
}



