/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
//= link ckeditor


body {
  padding-top: 60px;
  //background-image:url("background.jpg") ;
}


.nav-item {
  margin-left: 10px;
  font-size: x-large;
}

#log_in {
  margin-right: 0;
}

.pagination {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;

  span {
    margin: 0 10px;
  }
}

#qrcode {
  margin-top: 10%;

  img {
    width: 100%;
  }
}

.footer {
  padding: 5%;
  background-color: white;
}

//文章右侧目录栏
#catalog {
  position: fixed;
  top: 10%;
  right: 10%;
  background-color: white;
  border-radius: 5px;

  li:hover {
    color: blue;
    text-decoration: underline;
  }
}