<hr>
<div class="footer text-center">
  <div class="row ">
    <a class="weixin m-auto" >
      <%= fa_stacked_icon "qrcode", class: "fa-2x " %>
      <%= image_tag "wx_qrcode.jpg", class: "qrcode", alt: "微信二维码" %>
    </a>
  </div>

  <p>
    Copyright © clousky's Blog 2020
  </p>
</div>
